
body {
	margin:0;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	line-height: 1.6;
	color: white;
	background: linear-gradient(198.45deg, #202559 0%, #202136 23.2%);
	position: relative;
	z-index: 1;
}
.page{
	background-image: url("../Images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
}
img {
	max-width: 100%;
	height: auto;
}
*,
*:before,
*:after {
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
a{
	color:white;
	text-decoration: none;

}
/*CONTAINER*/
.container{
	width: 100%;
	max-width: 1230px;
	padding:0 15px;
	margin:0 auto;
}
.page{
	overflow: hidden;
}
/*HEADER*/
.header{
	background: #24243A;
	width: 100%;
	z-index: 2;
}
.header_inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:10px 0;
}
.nav{
	display: flex;
	justify-content: space-between;
}
.nav_link{
	padding:0 10px;
	transition: color 0.4s linear;
	font-size: 20px;
}
.nav_link:hover{
	color:#F5465D;
}

/*SECTION 1 */
.section-welcome{
	padding-top:80px;
	padding-bottom: 130px;
}
.section-welcome_inner{
	display: flex;
	width: 100%;
}
.section-welcome_right{
	width: 55%;
}
.section-welcome_left{
	width: 47%;
	box-sizing: border-box;
	padding-top: 100px;
}
.section-welcome_head{

}
.section-welcome_text_1 {
	font-size: 30px;
	line-height: 37px;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: #F84765;
}
.section-welcome_text_2{
	font-weight: bold;
	font-size: 56px;
	line-height: 93px;
	letter-spacing: -0.04em;
	color: #FFFFFF
}
.section-welcome_text_3{
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.04em;
	color: #9393AE;
	margin-bottom:20px;
}
.social_link{
	width: 100%;
	display: flex;
	}
.button_buy{
	margin-right: 20px;
	padding:15px 20px;
	background: linear-gradient(111.92deg, #FB5423 14.35%, #D033BF 85.65%);
	box-shadow: 0px 4px 30px rgba(236, 64, 121, 0.6);
	border-radius: 112px;
	font-weight: bold;
font-size: 20px;
line-height: 32px;
letter-spacing: -0.04em;
color: #FFFFFF;
}
.statistik{
	-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	border-image:linear-gradient(111.92deg, #FB5423 14.35%, #D033BF 85.65%);
	filter: drop-shadow(0px 4px 30px rgba(236, 64, 121, 0.6));
	margin-right: 0;
}
.see_tarif{
	background: linear-gradient(111.92deg, #FB5423 14.35%, #D033BF 85.65%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	margin-top:60px;
}
.see_tarif:after{
	content: "";
	position: absolute;
	width: 20px;
	height: 22px;
	background-image: url("../Images/arrow.png");
	background-repeat: no-repeat;
	bottom: -30px;
	left: 50%;
}

/* CARDS INNER */
.cards{
	padding-bottom: 30px;
}
.cards_inner{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card{
	display: flex;
	width: calc(50% - 8px);
	flex-direction: column;
	padding: 15px 18px;
	background: #27273F;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
border-radius: 29px;
margin-bottom: 20px;
}
.card-title{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 28px;
	line-height: 43px;
	letter-spacing: -0.04em;
	color: #FFFFFF;
}
.js-name{
text-transform: uppercase;
}
.info-inner{
	padding: 0;
	list-style: none;
	margin-bottom: 28px;
}
.info{
	position: relative;
	font-size: 22px;
	padding-left:40px;
	line-height: 165.4%;
	letter-spacing: -0.04em;
	color: #9393AE;
}
.info:after{
	content: "";
	position: absolute;
	left: 0;
	top:8px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 4px solid #FF4565;
	box-sizing: border-box;
}
.buy-inner{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.buy-inner .button_buy{
	padding: 15px 61px;
}
.statistik-link{
	font-weight: bold;
	font-size: 28px;
	line-height: 165.4%;
	position: relative;
	letter-spacing: -0.04em;
	color: #FFFFFF;
	border-bottom:1px solid rgba(251, 84, 35, 1);
}

/*ABOUT*/
.about_us{
	padding-bottom: 50px;
}
.about-content{
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #27273F;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
border-radius: 29px;
padding: 20px;
}
.about-title{
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: -0.04em;
	color: #FFFFFF;
	
}
.title-enemy{
	width: 50%;
	text-align: left;
}
.title-we{
	width: 46%;
}
.about-content-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}
.about-content-inner:last-child{
	margin-bottom: 0;
}
.about-enemy{
	display: flex;
	width: 46%;
}
.about-arrow{
	width: 4%;
}
.about-image{
width: 20%;
padding:0 8px;
	word-break: break-all;
	font-weight: 800;
font-size: 22px;
line-height: 27px;
text-align: right;
letter-spacing: -0.04em;
color: #9393AE;
}
.content-about{
	width: 80%;
	font-size: 20px;
line-height: 27px;
letter-spacing: -0.04em;

color: #FFFFFF;
}
.title{
	font-size: 46px;
line-height: 61px;
letter-spacing: -0.04em;
color: #FFFFFF;
margin-bottom: 15px;
position: relative;
padding-left:20px;
}
.red:after{
content: "";
position: absolute;
left: 0;
bottom:5px;
width: 11px;
height: 45px;
background: #F74462;
border-radius: 17px;
}
.pink:after{
	content: "";
position: absolute;
left: 0;
bottom:5px;
width: 11px;
height: 45px;
background: #C22CE2;
border-radius: 17px;
}
.orange:after{
	content: "";
	position: absolute;
	left: 0;
	bottom:5px;
	width: 11px;
	height: 45px;
	background: #FB5423;
	border-radius: 17px;
}
.table-section{
	padding-bottom:50px;
}
.table-select{
	background: #27273F;

border-radius: 29px 29px 0 0;
padding:20px;
display: flex;
justify-content: space-between;
align-items: flex-end;
position: relative;
}
.table-select:after{
	content: "";
	position: absolute;
	height: 140px;
	width: 30px;
	background-image: url("../Images/Arrow4.png");
	background-repeat: no-repeat;
	right:-27px;
	top: 72px;
}
.selectTwo{
	width: 286px;
height: 63px;
background: linear-gradient(90deg, #313149 0%, #23233A 100%);
box-shadow: 0px 0px 8px rgba(255, 69, 101, 0.5);
border-radius: 75px;
font-weight: 600;
font-size: 22px;
line-height: 27px;
outline: none;
letter-spacing: -0.04em;
color: #FFFFFF;
padding:0 40px 0 25px;
-webkit-appearance: none;
-moz-appearance: none !important;
appearance: none;
background: url("../Images/vect1.png") no-repeat center right 25px;
}
.table-info{
	font-size: 22px;
line-height: 27px;
letter-spacing: -0.04em;
color: #9393AE;
}
table{
	background: #27273F;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 29px 29px;
width: 100%;
border-spacing: unset;
}
thead td {
	vertical-align: middle;
	padding: 23px 10px;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	letter-spacing: -0.04em;
	color: #9393AE;	
	text-align: center;
	position: relative;
	border-bottom: 1px solid #353550;
	margin-bottom: 10px;
}
tbody td {
	vertical-align: middle;
	padding: 20px 10px;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.04em;
	color: #FFFFFF;
	position: relative;
	text-align: center;
}
tbody tr:nth-child(odd) {
background: #2F2F49;
}

tbody tr:nth-child(even) {
	background:inherit;
}


/*CONTACT*/

.contacts{
	padding-bottom:100px;
}
.contact-inner{
	background: #27273F;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 29px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:40px 20px;
}
.contact-left{
	width: 60%;
	font-size: 25px;
line-height: 48px;
letter-spacing: -0.04em;
color: #FFFFFF;
}
.social-right{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: bold;
font-size: 22px;
line-height: 32px;
letter-spacing: -0.04em;
color: #FFFFFF;
}
.telegramm{
	background: linear-gradient(111.92deg, #236CFB 14.35%, #3385D0 85.65%);
box-shadow: 0px 4px 30px rgba(51, 133, 208, 0.6);
border-radius: 112px;
padding:15px;
min-width: 280px;
text-align: center;
display: block;
margin-bottom: 35px;
position: relative;
}
.vk{
	background: linear-gradient(111.92deg, #024DE0 14.35%, #003EB8 85.65%);
box-shadow: 0px 4px 30px rgba(17, 54, 186, 0.6);
border-radius: 112px;
padding:15px;
min-width: 280px;
text-align: center;
display: block;
position: relative;
}
.telegramm:after{
	content: "";
	position: absolute;
	left: 38px;
	top: 13px;
	background-image: url("../Images/teleg1.png");
	width: 32px;
	height: 32px;
}
.vk:after{
	content: "";
	position: absolute;
	left: 38px;
	top: 13px;
	background-image: url("../Images/vk1.png");
	width: 32px;
	height: 32px;
}
.footer{
	background: #1D1E2C;
	text-align: center;
	padding:20px 0;
}
.footer-text{
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.04em;
	color: #9393AE;
}
.blocker{
	z-index: 2 !important;
}

.modal.modal-content{
	padding:20px;
	max-width:750px;
	background: #27273F;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
border-radius: 29px;
}
.modal-title{
	display: flex;
	justify-content: space-between;
margin-bottom: 10px;
align-items: center;
}
.modal-name{
	width: 60%;
	font-weight: bold;
font-size: 35px;
line-height: 43px;
/* identical to box height */

letter-spacing: -0.04em;
text-transform: uppercase;

color: #FFFFFF;
}
.modal-coef{
	font-weight: bold;
	font-size: 35px;
	line-height: 43px;
	/* identical to box height */
	
	letter-spacing: -0.04em;
	text-transform: uppercase;
	
	color: #FFFFFF;
}
.coef-prohod{
	font-size: 18px;
line-height: 22px;
letter-spacing: -0.04em;
color: #9393AE;
width: 22%;
}
.modal-info{
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-top:1px solid rgba(53, 53, 80, 1);
	align-items: center;
	padding:10px 0;
}
.modal-info .button_buy{
	padding:10px 40px;
	margin: 0;
}
.price, .prognoz{
	font-weight: bold;
font-size: 30px;
line-height: 165.4%;
letter-spacing: -0.04em;
color: #FFFFFF;
}
.modal a.close-modal {
	background-image: url("../Images/close-modal.png") !important;
	top: -32.5px !important;
	right: -3.5px !important;
}
#buy-last .modal-name{
	width: 36%;
}
.js-prognoz{
	text-transform: unset;
}
.second-info{
	flex-wrap: wrap;
}
.second-info p{
	width: 100%;
	text-align: center;
	font-size: 22px;
line-height: 27px;
margin:0 0 10px;
letter-spacing: -0.04em;
color: #FFFFFF;
}
.js-new-price{
	width: 100%;
	text-align: center;
	font-weight: bold;
font-size: 35px;
line-height: 165.4%;
letter-spacing: -0.04em;
color: #FFFFFF;
}
.modal-cards-inner{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(53, 53, 80, 1);
	margin-bottom: 20px;
}
.card-modal{
	width: calc(33% - 10px);
	background: #303050;
box-shadow: 0px 0px 8px rgba(255, 69, 101, 0.5);
border-radius: 22px;
display: flex;
flex-direction: column;
text-align: center;
padding:10px;
}
.modal-img{
	max-height: 62px;
	margin-bottom: 10px;
}
.card-info{
	font-weight: 500;
font-size: 19px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
.modal-contact{
	font-size: 24px;
line-height: 159.4%;
text-align: center;
letter-spacing: -0.04em;
color: #FFFFFF;
margin-bottom: 15px;
}
.modal-links{
	display: flex;
	justify-content: space-around;
}
.modal-links .telegramm{
	margin-bottom: 0;
}